<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>

<!-- Bootstrap CSS CDN -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
</head>

<body>

	<!-- Navbar from base.html -->
	<nav th:replace="~{base::basecontent}"></nav>



	<div class="container mt-5">
		<h2>Login</h2>

		<!-- Login Form -->
		<form action="#" th:action="@{/login}" method="post">


			<div class="form-group">
				<input type="email" name="username" placeholder="Email" />
			</div>
			<div class="form-group">
				<input type="password" name="password" placeholder="Password" />
			</div>
			<button type="submit" class="btn btn-primary btn-block">Login</button>
		</form>


		<div>
			<p th:if="${param.error}" style="color: red;">Invalid user ID or
				password.</p>
			<p th:if="${param.useriderror}" style="color: red;">User ID is
				incorrect.</p>
			<p th:if="${param.passworderror}" style="color: red;">Password is
				incorrect.</p>
		</div>

	</div>



	<!-- Bootstrap JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>