<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Register</title>

<!-- Bootstrap CSS CDN -->
<link
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
	rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet" />
</head>

<body>

	<!-- Navbar from base.html -->
	<nav th:replace="~{base::basecontent}"></nav>

	<div class="col-md-8 offset-md-2 " >

		<div class="my-card mt-2">
			<div class="container text-center">
				<img style="width: 80px" alt="" th:src="@{/img/signup.png}" />
				<h2>Register Here!!</h2>
			</div>



			<!-- Display Exception Message -->

			<div th:if="${exceptionMessage}">
				<div class="alert alert-danger" th:text="${exceptionMessage}"></div>
			</div>
			

			<!-- Display Registation success Message -->
			<div th:if="${registarionSuccessMessage}">
				<div class="alert alert-success"
					th:text="${registarionSuccessMessage}"></div>
			</div>





			<!-- Registration Form -->
			<form  th:action="@{/register}" th:object="${user}" method="post">

				<!-- Display Validation Errors -->

				<div th:if="${#fields.hasErrors()}">
					<div class="alert alert-danger">
						<p>There were errors in your form:</p>
						<ul>
							<li th:each="err : ${#fields.allErrors()}" th:text="${err}"></li>
						</ul>
					</div>
				</div>

				<!-- Name Field -->
				<div class="form-group">
					<label for="name">Name</label> <input 
					type="text"
						class="form-control" id="name" th:field="*{name}"
						placeholder="Enter name">
					<div class="text-danger" th:if="${#fields.hasErrors('name')}"
						th:errors="*{name}"></div>
				</div>

				<!-- Email Field -->
				<div class="form-group">
					<label for="email">Email address</label> <input type="email"
						class="form-control" id="email" th:field="*{email}"
						placeholder="Enter email">
					<div class="text-danger" th:if="${#fields.hasErrors('email')}"
						th:errors="*{email}"></div>
				</div>

				<!-- Password Field -->
				<div class="form-group">
					<label for="password">Password</label> <input type="password"
						class="form-control" id="password" th:field="*{password}"
						placeholder="Password">
					<div class="text-danger" th:if="${#fields.hasErrors('password')}"
						th:errors="*{password}"></div>
				</div>

				<!-- About field -->
				<div class="mb-3">
					<label for="about" class="form-label">About:</label>
					<textarea id="about" th:field="*{about}" class="form-control"
						placeholder="Tell us about yourself" rows="6"></textarea>
				</div>

				<!-- Agreement field -->
				<div class="form-group form-check text-center">
					<input type="checkbox" class="form-check-input" name="termsAccepted"> <label
						for="termsAccepted">Accept Terms and Conditions </label>
						<div class="text-danger" th:if="${termsAccepted}" th:text="${termsAccepted}">  </div>
				</div>

				<!-- Submit and Reset buttons -->
				<div class="container text-center">
					<button type="submit" class="btn btn-primary text-white">Register</button>
					<button type="reset" class="btn btn-warning ">Reset</button>
				</div>

			</form>
		</div>
	</div>

	<!-- Bootstrap JS, Popper.js, and jQuery -->
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>